<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbUser" value="sa"/>
    <add key="DbPassword" value="123"/>
    <add key="ResourcesFromAPP" value="D:\Builds\BisellsWebApp"/>
    <add key="ResourcesFromAPI" value="D:\Builds\BisellsAPI"/>
    <add key="ResourcesTo" value="D:\BisellsERPProduct"/>
    <add key="Server" value="maclinkpc-2\maclink"/>
    <add key="DBBackupPath" value="D:\Bisellsskeleton.bak"/>
    <add key="MDFLogicalName" value="BisellsBenchMark"/>
    <add key="LDFLogicalName" value="BisellsBenchMark_log"/>
    <add key="DBRelocationPath" value="\\maclinkpc-2\Development\DB\"/>
    <add key="NewConnectionString" value="server=maclinkpc-2\maclink;uid=sa;password=123;"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
</configuration>